<a class="menu-icon" (click)="toggleMenu()" [ngClass]="{'show-menu': show}">&#9776;

<div class="sidenav">
        <ul>
                <li><a href="#">خرید</a></li>
                <li><a href="#">رهن و اجاره</a></li>
                <li><a href="#"> جستجو روی نقشه </a></li>
                <li><a href="#">سپردن ملک</a></li>
                <li><a href="#">قیمت خانه شما</a></li>
                <li><a href="#">اطلاعات بازار </a></li>
                <li><a href="#">آژانس&zwnj;های املاک</a></li>
                <li><a href="#">تبلیغات</a></li>
            </ul>
  </div>
</a>
