<div class="search-box-container flex-box vertical-center ">
    <h1 class="search-box-header--color">
        خرید خانه با ارزیابی هوشمند قیمت ملک
    </h1>
    <h2 class="search-box-header--color">
       بدون مراجعه به املاک تنها با کد پستی قیمت ملک خود را تخمین بزنید
    </h2>
    <div class="search-box--dis">
<autocompelete [placeHolderText]="'کد پستی را وارد کنید'"
[apiUrl]=""

>
</autocompelete>
</div>
<div class="bottom-text" >
        <a class="home-price-btn">
اطلاعات بازار مسکن
        </a>
<h3 class="search-box-header--color">
  در صورتی که بع اطلاعات بازار مسکن علاقه مندید میتوانید از آدرس بالا استفاده کنید.
</h3>

</div>
</div>
