<div class="desktop-view">
<home-page-header></home-page-header>

<home-page-search-box ></home-page-search-box>
<home-price-evaluation></home-price-evaluation>
<home-page-flex-container></home-page-flex-container>
<download-app></download-app>
<footer></footer>
</div>
<div class="mobile-view">
<mobile-home-page-header></mobile-home-page-header>
<mobile-home-page-search-box></mobile-home-page-search-box>
<mobile-home-page-evalution></mobile-home-page-evalution>
<mobile-home-page-flex-box></mobile-home-page-flex-box>
<download-app></download-app>
<mobile-footer></mobile-footer>

</div>
