@import "src/general";

.home-evaluation-container{
    padding: 40px $container-padding;
    text-align: center;


}
.price-evaluation-header{
    color:$color-pink;
}
.price-evaluation-text{
    font-size:20px;
    color: #666666;
    text-align: justify
}
