<ul  class="flex-menu">
    <li class="menu-items"><a href="#">خرید</a></li>
    <li class="menu-items"><a href="#">رهن و اجاره</a></li>
    <li class="menu-items"><a href="#"> جستجو روی نقشه </a></li>
    <li class="menu-items"><a href="#">سپردن ملک</a></li>
    <li class="menu-items"><a href="#">قیمت خانه شما</a></li>
    <li class="menu-items"><a href="#">اطلاعات بازار </a></li>
    <li class="menu-items"><a href="#">آژانس&zwnj;های املاک</a></li>
    <li class="menu-items"><a href="#">تبلیغات</a></li>
</ul>
