<div class="search-box-container flex-box vertical-center ">
    <h1 class="search-box-header--color">
        خرید خانه با کیلید
    </h1>
    <h2 class="search-box-header--color">
        کیلید شما رو در یافتن خانه یاری میکند
    </h2>
    <div class="search-box--dis">
<autocompelete [placeHolderText]="'نام محله،منطقه و یا ایستگاه مورد نظر خود را وارد کنید'"
[apiUrl]="'src/assets/json/api-search-bar.json'"

>
</autocompelete>
</div>
<div class="bottom-text" >
<h3 class="search-box-header--color">
    قیمت خانه شما امروز چند است؟
</h3>
<a class="home-price-btn">
        قیمت خانه شما

</a>
</div>
</div>
