<div class="flex-box horizontal-center">
  <div class="self-center download-app__text">
<h1>
کیلید را همیشه همراه خود داشته باشید
</h1>
<h3>دریافت اپلیکیشن کیلید</h3>
<a class="downloadapp__icons" href="#">
  <img src="src/assets/images/SibApp-badge-fa.png">
</a>
<a class="downloadapp__icons" href="#">
    <img src="src/assets/images/SibApp-badge-fa.png">
  </a>
</div>
<div class="appinfo__img--index">
  <img src="src/assets/images/app-info-android-device-img.png" class="appinfo__img"/>
  <img src="src/assets/images/app-info-iphone-img.png" class="appinfo__img"/>
  <div class="crank-block"></div>

</div>
</div>

