<div class="footer flex-box flex-direction-row">
<div class="menu-row">
    <span class="site-footer__title">جستجو</span>
  <ul>
    <li><a class="menu-items__text" routerLink="" >درباره کلید</a></li>
    <li><a class="menu-items__text" routerLink="" >بلاگ</a></li>
    <li><a class="menu-items__text" routerLink="" >تماس با ما</a></li>
    <li><a class="menu-items__text" routerLink="" >فرصت های شغلی</a></li>
    <li><a class="menu-items__text" routerLink="" >آژانس های املاک</a></li>
  </ul>
</div>
<div class="menu-row">
    <span class="site-footer__title">جستجو</span>
  <ul>
    <li><a class="menu-items__text" routerLink="" >خرید</a></li>
    <li><a class="menu-items__text" routerLink="" >رهن و اجاره</a></li>
    <li><a class="menu-items__text" routerLink="" >جستجوی روی نقشه</a></li>
    <li><a class="menu-items__text" routerLink="" > سپردن ملک </a></li>
  </ul>
</div>
</div>
