<div class="block">
        <dropdown [apiUrl]="'src/assets/json/api-search-bar.json'"></dropdown>
        <div class="flex-container">
          <div class="box-block">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
          </div>
          <!-- <div class="right-box-block">
            <div class="right-top-box-block"></div>
            <div class="right-bottom-box-container">
              <div class="right-bottom-box-right-block"></div>
              <div class="right-bottom-box-left-block"></div>
            </div>
          </div> -->
        </div>
      </div>
      